<% content_for :sub_title do %> My Profile
<% end %>

<div class="w3-row-padding w3-stretch">
  <!-- Profile Side -->
  <div class="w3-col l4 w3-margin-bottom" id="profile">
    <div class="w3-white w3-text-black w3-card">
      <br>
      <% if @user.profile.present? %>
        <h3 class="w3-center"><%= @user.profile.full_name %></h3>
      <% else %>
        <h3 class="w3-center">Create Your Profile</h3>
      <% end %>
      <div class="w3-center w3-container">
        <img src="" alt="Avatar" class="w3-card w3-padding mainAvatarSize">
      </div>
      <hr>
      <div class="w3-center w3-container w3-row">
        <div class="w3-col l12 s12">
          <% if @user.profile.nil? %>
            <%= link_to new_user_profile_path(@user), { :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window' } do %>
              <i class="fa fa-pencil w3-text-green" style="font-size:25px; cursor:pointer"></i><br><br>
              <span>Create Profile</span>
            <% end %>

          <% else %>
            <%= link_to edit_user_profile_path(@user, @user.profile), { :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window' } do %>
              <i class="fa fa-pencil w3-text-green" style="font-size:25px; cursor:pointer"></i><br><br>
              <span>Edit Profile</span>
            <% end %>

          <% end %>
        </div>
      </div>
      <hr>
      <div class="w3-container">
        <p>
          <i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-indigo"></i><span><%= @user.profile.title if @user.profile.present? %></span>
        </p>
        <p>
          <i class="fa fa-building fa-fw w3-margin-right w3-large w3-text-indigo"></i><span><%= @user.profile.company if @user.profile.present? %></span>
        </p>
        <p>
          <i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-indigo"></i><span><%= @user.profile.phone if @user.profile.present? %></span>
        </p>
        <p>
          <i class="fa fa-location-arrow fa-fw w3-margin-right w3-large w3-text-indigo"></i><span><%= @user.profile.full_address if @user.profile.present? %></span>
        </p>
      </div>
    </div>
  </div>
  <!-- End Profile Side -->

  <!-- Content Side -->
  <div class="w3-col l8">

    <!-- Add Notes Tab -->
    <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
      <h2 class="w3-text-indigo w3-padding-16">Add A Note</h2>
      <%= form_with model: [@user, @user.notes.build] do |form| %>
        <%= render "notes/error_note", note: @note %>
        <p>
          <%= form.text_area :content, class: "w3-margin-bottom w3-padding noteTabText", cols: "80", rows: "5" %>
        </p>
        <p>
          <%= form.submit "Add Note", class: "w3-btn buttonColorTheme" %>
        </p>
      <% end %>
    </div>
    <!-- End Notes Tab -->

    <!-- History Tab -->
    <div class="w3-container w3-card-2 w3-white w3-margin-bottom" id="reminder">
      <h2 class="w3-text-indigo w3-padding-16">Note History</h2>

      <% if @user.notes.present? %>
        <% @user.notes.each do |note| %>
          <% unless note.id.nil? %>
            <div class="w3-container w3-card w3-margin-bottom panelCardNote alert alert-dismissible fade show" role="alert">
              <%= link_to user_note_path(note.user, note), method: :delete, data: { confirm: "You are about to delete this note. Are you sure?" } do %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="delete_note_button"></button>
              <% end %>
              <h5 class="w3-opacity"><b>Note.</b>
                <span class="time-ago">Posted <%= time_ago_in_words(note.created_at) %> ago.</span></h5>
              <p><%= note.content %></p>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <!-- End History Tab -->
  </div>

  <div id="modal-window" class="modal hide fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
  <br>
  <br>
</div>
